<div class="container">
    <h2>ABOUT N.R Technologies</h2><br>
    <p>Vassar Labs derives its name from Vassar Street, a street in MIT where Internet of Things (IoT) was
        conceptualized.

        Vassar Labs is an IoT, Machine Learning and AI based based solutions provider in last mile visibility and
        decision support started by successful technology entrepreneurs. Its objective is to enable customers to bring
        new business models and differentiated service offerings to the market based on IoT,Machine Learning, AI and
        Big Data that will enhance overall customer experience.

        By helping customer to connects its "People", "Processes", "Products", and "Peripherals" to the cloud, Vassar
        Labs enable them to gain real-time visibility into last mile processes and have actionable insights through
        decision support.
    </p>
</div>