<div class="container">
    <div class="col-md-6">
        <p>
            <strong class="tech_tit">Last Mile Visibility and Decision Support</strong> <br>
            Vassar Labs brings together data from Sensors, Satellite Data, Drone, Mobile Applications, SCADA, Web
            Scraped Data and Mathematical &amp; Hydrological Models to provide Last Mile Visibility and Decision Support
            .</p>
        <br>
        <p>
            <strong class="tech_tit">Seamless Connectivity</strong> <br>
            Vassar Platform brings data coming from different systems via Cell connectivity, Zigbee, LoRa, Web
            Services, Web Crawlers and third party systems in a seamless way to ensure the systems are integrated and
            communicate across platforms.</p>
        <br>
        <p>
            <strong class="tech_tit">Big Data Architecture</strong> <br>
            Vassar platform provides a Horizontally scalable Message Bus and Micro Services based processing that
            provides for real time processing of large data sets and batch processing of historical or archived data
            with a horizontally scalable Big data database.
        </p>
    </div>
    <div class="col-md-6">

        <p>
            <strong class="tech_tit">Machine Learning and Custom Mathematical models</strong> <br>
            Vassar platform provides easy pluggability for Predictive Analytical Models, Custom Algorithms, Hydrology
            models, Crop Specific models and Supervised and Unsupervised Machine Learning models along with Big Data
            Analytics.</p>

        <p>
            <strong class="tech_tit">Cloud/Hybrid Enabled Multi-Tenant Solutions</strong> <br>
            All Vassar Solutions are built on Cloud on Horizontally scalable resilient distributed systems
            architecture.</p>
        <p>
            <strong class="tech_tit">Presentation Layer</strong> <br>
            An easy to configure presentation layer that works seamlessly between different browsers and devices.</p>
    </div>
</div>